footer{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    margin-top: -10px;
    height: 150px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1vw;
}

.name, .section, .image{
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    font-size: 2rem;
    width: 250px;
    flex: 1 1 0;
    text-align: center;
}

.name:hover{
    color: #eb4c4c;
    cursor: pointer;
}


.section{
    flex: 2 1 0;
}

.section:hover{
    color: #eb4c4c;
    cursor: pointer;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image:hover{
    color: #eb4c4c;
    cursor: pointer;
}

.text-image{
    font-size: 1rem;
    margin: 0.5rem;
}

@media only screen and (max-width: 1300px){
    .name, .section, .image{
        font-size: 1.5rem !important;
    }

    .text-image{
        font-size:  1rem !important;
    }

    .tools{
        width: 100px;
    }
}