footer{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    margin-top: -10px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
}

.name, .section, .image{
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    font-size: 2rem;
    width: 250px;
}

.name{

}

.section{

}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-image{
    font-size: 1rem;
    margin: 0.5rem;
}